$pinkColor: #f3ade1;
$purpleColor: #a873f9;
$blueColor: #0070ff;
$blueLightColor: #4e9bff;
$grayTextColor: #777;

.contents .lnb > ul > li:first-child > a{
  background-color: $blueLightColor!important;
  color: white!important;
}

.table-dark{
  text-align: center;
}

#tableBox{
  a{
    margin-top: 20px;
    margin-left: 20px;
  }
}
