#tableBox{
  height: 500px;

  .representationImgBox{
    display: inline-block;
    float: left;
    margin-left: 100px;

    img{
      width: 400px;
      height: 300px;
    }
  }

  .itemBox{
    width: 700px;
    height: 300px;
    display: inline-block;
    float: right;

    .itemName, .itemInfo{
      text-align: left;
    }

    .itemName{
      border-bottom: 1px solid lightslategray;

    }

    .itemInfo{
      margin-top: 13px;
      padding-top: 10px;
      >div{
        padding-top: 10px;
      }

      select{
        display: inline-block;
        width: 300px;
      }

      form:last-child{
        margin-top: 20px;
      }
    }
  }

  .itemExplanation{
    width: 900px;
    margin-left: 200px;
    margin-top: 400px;
    position: absolute;
  }
}

.imgBox{
  margin: 0 auto;
  width: 1500px;
  border-top: 1px solid #b2b2b2;
  padding-left: 110px;
  li{
    list-style: none;
    display: inline-block;
  }
  img{
    width: 400px;
    height: 300px;
  }
}