.contents .lnb > ul > li:last-child > a {
  background-color: #4e9bff !important;
  /*background: linear-gradient(to right, $pinkColor, $blueLightColor);*/
  color: white !important; }

.contents .lnb > ul > li {
  width: 50%; }
  .contents .lnb > ul > li a {
    width: 672px;
    border-right: none; }

.visual {
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/galleryShop.png") no-repeat;
  background-size: 100% 100%;
  opacity: 0.8; }

#categoryBox {
  float: left;
  width: 270px;
  border-right: 1px solid #b2b2b2;
  border-top: 1px solid #b2b2b2;
  margin-top: 70px; }
  #categoryBox > div {
    border-bottom: 1px solid #b2b2b2;
    width: 270px;
    height: 200px; }
  #categoryBox a {
    text-decoration: none;
    color: black; }
  #categoryBox .categoryTitle {
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px; }
    #categoryBox .categoryTitle span {
      font-size: 20px; }
    #categoryBox .categoryTitle span:first-child {
      font-weight: bold;
      color: #4e9bff; }
    #categoryBox .categoryTitle span:last-child {
      text-decoration: none solid #b2b2b2;
      color: #b2b2b2; }
  #categoryBox ul {
    margin-top: 20px; }
    #categoryBox ul li {
      list-style: none;
      padding-bottom: 8px; }

#tableBox {
  width: 70%;
  margin: 0 auto;
  visibility: visible !important;
  /*list*/
  /*list*/ }
  #tableBox .searchBox {
    margin-left: 340px; }
  #tableBox .buttonBoxShop {
    display: inline-block;
    height: 37px;
    width: 350px;
    float: right; }
    #tableBox .buttonBoxShop a {
      margin-left: 24px; }
  #tableBox .list {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    overflow-x: hidden;
    height: 1100px; }
    #tableBox .list .topPic {
      width: 100%;
      height: 1000px; }
    #tableBox .list li {
      list-style: none;
      position: relative;
      width: 350px;
      height: 460px;
      float: left;
      box-sizing: border-box;
      border: 2px solid lightgray;
      box-shadow: rgba(0, 0, 0, 0.14) 3px 6px 12px;
      margin: 0 0 5% 5%; }
      #tableBox .list li a {
        cursor: pointer;
        display: block;
        text-decoration: none;
        height: 300px;
        padding-top: 5%;
        text-align: center;
        box-sizing: border-box; }
        #tableBox .list li a img {
          width: 350px;
          height: 300px;
          margin-top: -19px;
          margin-left: -2px; }
      #tableBox .list li div {
        width: 90%;
        height: 50px;
        margin: 0 auto; }
        #tableBox .list li div p {
          margin-top: 10px;
          display: block;
          width: 100%;
          height: 20px;
          text-align: center; }
        #tableBox .list li div p:nth-child(2) {
          border-top: 1px solid lightgray;
          padding-top: 10px;
          height: 60px;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-box-orient: vertical; }
    #tableBox .list li:nth-child(2n) {
      margin-right: 0; }

/*tableBox*/
/*hover*/
.list .topPic > li:nth-child(1):hover {
  border-image: linear-gradient(to right, #f3ade1, #0070ff) !important;
  border-image-slice: 1 !important; }

.list .topPic > li:nth-child(2):hover {
  border-image: linear-gradient(to right, #f3ade1, #0070ff) !important;
  border-image-slice: 1 !important; }

.list .topPic > li:nth-child(3):hover {
  border-image: linear-gradient(to right, #f3ade1, #0070ff) !important;
  border-image-slice: 1 !important; }

.list .topPic > li:nth-child(4):hover {
  border-image: linear-gradient(to right, #f3ade1, #0070ff) !important;
  border-image-slice: 1 !important; }

.list .topPic > li:nth-child(5):hover {
  border-image: linear-gradient(to right, #f3ade1, #0070ff) !important;
  border-image-slice: 1 !important; }

.list .topPic > li:nth-child(6):hover {
  border-image: linear-gradient(to right, #f3ade1, #0070ff) !important;
  border-image-slice: 1 !important; }

/*hover*/
/*footer*/
footer {
  bottom: 0;
  position: relative;
  height: 70px; }
  footer p:first-child {
    padding-top: 10px; }

/*footer*/

/*# sourceMappingURL=shop.css.map */