<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>gallery</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS , jQuery-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.5.1.min.js}"> </script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/common/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/common/infoCommon.css}">
    <link rel="stylesheet" th:href="@{/css/gallery/gallery.css}">
</head>
<body>
<div class="containerCustom">
    <div th:replace="fragments/top :: top"/>

    <div class="visual">
        <h2>
            <p>gallery</p>
            <p>갤러리</p>
        </h2>
    </div>

    <div class="contents">
        <div class="lnb">
            <ul>
                <li>
                    <a th:href="@{gallery}">갤러리</a>
                </li>
                <li>
                    <a th:href="@{shop}">쇼핑몰</a>
                </li>
            </ul>
        </div><!--lnb-->

        <div id="tableBox">
            <!--searchBox-->
            <div class="searchBox">
                <a class="btn btn-primary mb-2" th:href="@{/gallery/create}">업로드</a>
            </div><!--searchBox-->

            <!--list-->
            <div class="list">
                <div class="topPic">
                    <li th:each = "galleryFile : ${galleryFiles}">
                        <a th:href="@{/galleryView/{bundleId} (bundleId=${galleryFile.bundleId})}">
                            <img th:src="@{/images/instagramFrame.png}"/>
                            <img th:src="@{'/images/' + ${galleryFile.filename}}"/>
                        </a>
                        <div>
                            <p th:text="${galleryFile.username}"></p>
                            <p th:text="${galleryFile.title}"></p>
                            <p>[[${#temporals.format(galleryFile.createDate, 'yyyy-MM-dd hh:mm')}]]</p>
                        </div>
                    </li>
                </div><!--topPic-->
            </div><!--list-->

            <!--paging-->
            <nav style="text-align: center;">
                <ul class="pagination justify-content-center"
                    th:with="start=${T(Math).floor(galleryFiles.number/10)*10 + 1},
                    last=(${start + 9 < galleryFiles.totalPages ? start + 9 : galleryFiles.totalPages})">

                    <!--  first  -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/gallery(page=0)}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>

                    <!--  <  -->
                    <li class="page-item">
                        <a class="page-link" th:href="${galleryFiles.first} ? '#' :@{/gallery(page=${galleryFiles.number - 1})}" aria-label="Previous" >
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!--  1,2,3  -->
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == galleryFiles.number + 1} ? 'page-item active'">
                        <a class="page-link" th:text="${page}" th:href="@{/gallery(page=${page - 1})}"></a>
                    </li>

                    <!--  > -->
                    <li class="page-item" th:class="${galleryFiles.last} ? 'disabled'">
                        <a class="page-link" th:href="${galleryFiles.last} ? '#' : @{/gallery(page=${galleryFiles.number + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <!--  Last  -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/gallery(page=${galleryFiles.totalPages - 1})}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav><!--paging-->
        </div><!--tableBox-->
        <div th:replace="fragments/footer :: footer"/>
    </div><!--contents-->
</div><!--containerCustom-->
</body>
</html>