<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>freeCreate</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS , jQuery-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.5.1.min.js}"> </script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/common/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/common/infoCommon.css}">
    <link rel="stylesheet" th:href="@{/css/board/freeCreate.css}">
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="containerCustom">
    <div th:replace="/fragments/top :: top"/>

    <div class="boardTitle">
        <h2>자유게시판</h2>
    </div>

    <form role="form" method="post" enctype="multipart/form-data" th:action="@{/post/createFreePost}" th:object="${createAndUpdatePostDto}">
        <div class="form-group">
            <label th:for="title"><strong>제목</strong></label>
            <input type="text" name="title" class="form-control" placeholder="제목을 입력하세요"
                   th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        </div>

        <div class="form-group">
            <label th:for="content"><strong>내용</strong></label>
            <textarea type="text" name="content" class="form-control" rows= "10" placeholder="내용을 입력하세요"
                      th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
        </div>

        <div class="form-group">
            <label th:for="inputFile"><strong>첨부 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input multiple="multiple" name="file" type="file" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="file">파일 선택</label>
                </div>
            </div>
            <p> </p>
            <strong>파일명</strong>
            <div class="zero" id="zero"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div th:replace="/fragments/footer :: footer"/>
</div> <!-- /container -->

<script>
    $(".custom-file-input").on("change", function() {
        var files=$('input[name="file"]')[0].files;

        for(var i= 0; i<files.length; i++){
            var p = document.createElement('p');
            var text = document.createTextNode(i+1 + ". " + files[i].name);
            p.appendChild(text);

            document.getElementById('zero').appendChild(p);
        }
    });
</script>
</body>
</html>