<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>readPost</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS , jQuery-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script th:src="@{/js/jquery-3.5.1.min.js}"> </script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/common/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/common/infoCommon.css}">
    <link rel="stylesheet" th:href="@{/css/board/freeCreate.css}">
    <link rel="stylesheet" th:href="@{/css/post/readPost.css}">
    <script th:src="@{/js/post/readPost.js}"></script>

</head>
<body>
<div class="containerCustom">
    <div th:replace="fragments/top :: top"/>
    <div class="postBox">
        <div class="boardTitle">
            <h2 th:text="${readPostDto.title}">제목</h2>
        </div>
        <div class="postInfo">
            <span>글쓴이 : </span>
            <span th:text="${readPostDto.userName}"></span>
            <span>, 조회수 : </span>
            <span th:text="${readPostDto.postViews}"></span>
            <span>, 작성시간 : </span>
            <span>[[${#temporals.format(readPostDto.createDate, 'yyyy-MM-dd일 hh:mm분')}]]</span>
        </div>

        <!--글 내용 및 추천-->
        <div class="content">
            <p th:text="${readPostDto.content}"></p>
            <div>
                <i id="recommendationBtn"></i>
                <span>liked!</span>
            </div>
        </div><!--글 내용 및 추천-->

        <!--첨부파일-->
        <span><strong>첨부파일</strong></span>

        <!--글 수정 삭제-->
        <div>
            <a style="float: right" th:if="${readPostDto.authorCheck} == true"
               th:href="@{/post/update/{postId} (postId=${readPostDto.id})}"><button class="btn-success">수정</button></a>
        </div>
        <form role="form" method="post" th:action="@{/post/remove/{postId} (postId=${readPostDto.id})}">
            <button type="submit" class="btn-danger" style="float: right; margin-right: 10px" th:if="${readPostDto.authorCheck} == true">삭제</button>
        </form> <!--글 수정 삭제-->

        <table>
            <tbody>
            <tr th:each="postFile, state : ${postFileDtos}">
                <td>
                    [[${state.count}]]
                    <span>. </span>
                    <a th:href="@{/postFile/{postFileId}/download (postFileId=${postFile.id})}" th:text="${postFile.originFilename}"></a>
                </td>
            </tr>
            </tbody>
        </table><!--첨부파일-->

        <!--댓글 박스-->
        <div class="commentBox" style="margin-top: 100px">
            <div style="display: flex">
                <input type="text" id="commentInput" class="form-control" placeholder="내용을 입력하세요" style="height: 60px"/>
                <button type="submit" class="btn btn-sm btn-primary" id="commentBtn" >Submit</button>
            </div>
            <div class="commentList">

            </div>
        </div><!--commetBox-->
    </div> <!--postBox-->
</div><!--containerCustom-->

<script th:inline="javascript">

    /*댓글 조회 후 동적 생성*/
    function getCommentList(){
        let readPostDto = [[${readPostDto}]];
        let postId = readPostDto.id;
        $.getJSON('/comment/'+postId, function (arr){

            function formatTime(str){
                var date = new Date(str);

                return date.getFullYear() + '/' +
                    (date.getMonth() + 1) + '/' +
                    date.getDate() + ' ' +
                    date.getHours() + ':' +
                    date.getMinutes();
            }

            var str = "";

            $.each(arr, function (idx, comment){
                if(comment.depth == 1){
                    str += ' <div class="comment">';
                }else if(comment.depth == 2){
                    str += ' <div class="comment" style="width: 97%; margin-left: 28px; background: #6e9bff">';
                }
                str += '    <span>' + comment.username + '</span>';

                if(comment.existsCheck == true){
                str += '    <span>' + comment.content + '</span>';
                }else if(comment.existsCheck == false){
                str += '    <span>'
                    + "[삭제된 댓글입니다.]" + '</span>';
                }

                str += '    <span>' + formatTime(comment.lastModifiedDate) + '분</span>';
                str += '    <div class="btnBox">';

                if(comment.authorCheck == true){
                str += '        <button value="' + comment.id + '" class="btn-dark updateBtn" style="float: right">수정</button>';
                str += '        <button value="' + comment.id + '" type="submit" class="btn-danger removeBtn" style="float: right">삭제</button>';
                }

                str += '        <button value="' + comment.id + '" class="btn-success reBtn" style="float: right" >답글</button>';
                str += '    </div>'; /*btnBox*/
                str += ' </div>'; /*comment*/

                str += ' <div class="updateComment'+ comment.id +'" style="display: none; height: 60px">';
                str += '    <input class="updateContent'+ comment.id +'" type="text" class="form-control" placeholder="수정 할 내용을 입력하세요" style="width: 92%; height: 50px">';
                str += '    <button value="'+ comment.id + '" type="submit" class="btn btn-sm btn-primary updateSubmitBtn" style="height: 50px">수정완료</button>';
                str += ' </div>';

                str += ' <div class="reComment'+ comment.id +'" style="display: none; height: 60px">';
                str += '    <input class="reCommentContent'+ comment.id +'" type="text" class="form-control" placeholder="내용을 입력하세요" style="width: 92%; height: 50px">';
                str += '    <button value="'+ comment.id + '" type="submit" class="btn btn-sm btn-primary reCommentSubmitBtn" style="height: 50px">Submit</button>';
                str += ' </div>';
            })

            $(".commentList").html(str);
            $("#commentInput").val('');

        });
    }

    /*페이지 이동 후 바로 댓글 비동기로 조회*/
    getCommentList();

    /*댓글 생성 요청*/
    $("#commentBtn").on('click', function (e){
        e.preventDefault();

        let readPostDto = [[${readPostDto}]];
        let form ={
            content: $("#commentInput").val(),
            postId: readPostDto.id
        };

        $.ajax({
            url: "/comment/create",
            type: "post",
            data: JSON.stringify(form),
            contentType: "application/json; charset=utf-8",
        }).done(function (){
            getCommentList();

        }).fail(function (error){
            alert(JSON.stringify(error));
        });
    });

    /*댓글 삭제 요청*/
    $(document).on('click', '.removeBtn', function (e){
        e.preventDefault();
        let form = {
            commentId: $(this).val()
        }

        $.ajax({
            url: "/comment/delete",
            type: "delete",
            data: JSON.stringify(form),
            contentType: "application/json; charset=utf-8",
        }).done(function () {
            getCommentList();

        }).fail(function (error) {
            alert(error);
        });
    })

    /*댓글 수정 영역 활성화,비활성화*/
    $(document).on('click', '.updateBtn', function (e){
        e.preventDefault();
        var commentId = $(this).val();

        if($(".updateComment"+commentId).css("display") == "none"){
            $(".updateComment"+commentId).css("display", "flex");
        } else{
            $(".updateComment"+commentId).css("display", "none");
        }
    });

    /*댓글 수정 요청*/
    $(document).on('click', '.updateSubmitBtn', function (e){
        e.preventDefault();
        var commentId= $(this).val();
        let form = {
            commentId: $(this).val(),
            updateContent: $(".updateContent"+commentId).val()
        }

        $.ajax({
            url: "/comment/update",
            type: "post",
            data: JSON.stringify(form),
            contentType: "application/json; charset=utf-8",
        }).done(function () {
            getCommentList();

        }).fail(function (error) {
            alert(error);
        });

    });

    /*대댓글 영역 활성화, 비활성화*/
    $(document).on('click', '.reBtn', function (e){
        e.preventDefault();
        var commentId = $(this).val();

        if($(".reComment"+commentId).css("display") == "none"){
            $(".reComment"+commentId).css("display", "flex");
        } else{
            $(".reComment"+commentId).css("display", "none");
        }
    });

    /*대댓글 생성 요청*/
    $(document).on('click', '.reCommentSubmitBtn', function (e){
        e.preventDefault();
        var originalCommentId = $(this).val();

        let readPostDto = [[${readPostDto}]];
        let form ={
            content: $(".reCommentContent"+originalCommentId).val(),
            postId: readPostDto.id,
            originalCommentId: originalCommentId
        };

        $.ajax({
            url: "/reComment/create",
            type: "post",
            data: JSON.stringify(form),
            contentType: "application/json; charset=utf-8",
        }).done(function (){
            getCommentList();

        }).fail(function (error){
            alert(JSON.stringify(error));
        });
    });

    /*추천 여부 확인*/
    let check = [[${recommendationCheck}]];
    if (check == "exist") {
        $( "i,span" ).toggleClass( "press", 1000 );
    }

    /*추천 요청*/
    $("#recommendationBtn").on('click', function (){
        let readPostDto = [[${readPostDto}]];
        let form = {
            postId: readPostDto.id
        }

        $.ajax({
            url: "/recommendation",
            type: "post",
            data: JSON.stringify(form),
            contentType: "application/json; charset=utf-8",
        }).done(function (resp){

        }).fail(function (error){
            alert(error);
        });
    });
</script>
</body>
</html>