<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS , jQuery-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.5.1.min.js}"> </script>
    <!--font-awesome-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--bootstrap-social-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/signIn.css}">
</head>
<body>
<div class="containerCustom">
    <div class="bg-image"></div>
    <!--header-->
    <header>
        <a th:href="@{/}">
            <img th:src="@{/images/mainLogo4.png}" type="images" alt="">
        </a>
    </header>
    <!--header-->

    <!--login form-->
    <form class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="signInId" class="label">ID</label>
                        <input id="signInId" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="signInPassword" class="label">Password</label>
                        <input id="signInPassword" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a th:href="@{/idpwSearch}">ID/PW 찾기</a>
                    </div>

                    <!--social login button-->
                    <div class="socialLogin">
                        <ul>
                            <li>
                                <a href="javascript:;" name="social" class="btn btn-social btn-facebook" data-social="facebook" style="margin-bottom: 10px; width: 222px;">
                                    <span class="fa fa-facebook"> </span> Facebook으로 로그인
                                </a><br/>
                            </li>
                            <li>
                                <a href="javascript:;" name="social" class="btn btn-social btn-google" data-social="google" style="margin-bottom: 10px; width: 222px;">
                                    <span class="fa fa-google"> </span> Google로 로그인
                                </a><br/>
                            </li>
                            <li>
                                <div href="javascript:;" name="social" id="naver_id_login" data-social="naver">
                                    <img th:src="@{/images/naverLogin.png}"/>
                                </div>
                            </li>
                            <li>
                                <a id="custom-login-btn" href="javascript:loginWithKakao()">
                                    <img
                                            src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
                                            width="222"
                                            href="javascript:;"
                                            name="social"
                                            data-social="kakao"
                                            style="margin-top: 10px;"
                                    />
                                </a>
                                <p id="token-result"></p>
                            </li>
                        </ul>
                    </div><!--social login button-->
                </div>

                <div class="sign-up-htm">
                    <div class="group">
                        <label for="name" class="label">NAME</label>
                        <input id="name" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="studentId" class="label">STUDENT ID</label>
                        <input id="studentId" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="signUpId" class="label">ID</label>
                        <input id="signUpId" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="signUpPassword" class="label">Password</label>
                        <input id="signUpPassword" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="passwordRe" class="label">Repeat Password</label>
                        <input id="passwordRe" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email Address</label>
                        <input id="email" type="text" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                </div>
            </div>
        </div>
    </form><!--login form-->




    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>