<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS , jQuery-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.5.1.min.js}"> </script>
    <!--font-awesome-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--bootstrap-social-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/sign.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/sign2.css}">
    <script th:src="@{/js/user/sign.js}"></script>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="containerCustom">
    <div class="bg-image"></div>
    <!--header-->
    <header>
        <a th:href="@{/}">
            <img th:src="@{/images/mainLogo4.png}" type="images" alt="">
        </a>
    </header>
    <!--header-->

    <div class="notice">
        <p>user 권한 임시 계정 -> ID : test1 / PW : test1 </p>
        <p>admin 권한 임시 계정 -> ID : admin / PW : 1234 </span>
        <p>** ssl 인증서 문제로 배포환경에선 페이스북, 네이버 로그인 정상동작하지 않습니다. 구글 또는 카카오를 이용해주세요. **</p>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form role="form" th:action="@{/user/signIn}" method="post">
                <h1>Sign In</h1>
                <input type="text" name="username" placeholder="Id" />
                <input type="password" name="password" placeholder="Password" />
                <div th:if="${param.error}" class="form-group">
                    <span th:text="${errorMsg}" class="alert alert-danger"></span>
                </div>
                <div class="remember">
                    <input type="checkbox" id="rememberMe" name="_spring_security_remember_me" value="true"/>
                    <span>자동로그인</span>
                </div>
                <button>Sign In</button>
                <a th:href="@{/user/findId}">ID 찾기</a>
                <a th:href="@{/user/findPw}">PW 찾기</a>
                <a th:href="@{/user/validationEmailRe}">이메일 인증하기</a>
            </form>
            <!--social login button-->
            <div class="socialLogin">
                <ul>
                    <li>
                        <a th:href="@{/oauth2/authorization/facebook}" name="social" class="btn btn-social btn-facebook" data-social="facebook" style="margin-bottom: 10px; width: 222px;">
                            <span class="fa fa-facebook"> </span> Facebook으로 로그인
                        </a><br/>
                    </li>
                    <li>
                        <a th:href="@{/oauth2/authorization/google}" name="social" class="btn btn-social btn-google" data-social="google" style="margin-bottom: 10px; width: 222px;">
                            <span class="fa fa-google"> </span> Google로 로그인
                        </a><br/>
                    </li>
                    <li>
                        <a th:href="@{/oauth2/authorization/naver}" name="social" id="naver_id_login" data-social="naver">
                            <img th:src="@{/images/naverLogin.png}" type="images" alt="">
                        </a>
                    </li>
                    <li>
                        <a id="custom-login-btn" th:href="@{/oauth2/authorization/kakao}">
                            <img
                                    src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
                                    width="222"
                                    name="social"
                                    data-social="kakao"
                                    style="margin-top: 10px;"
                            />
                        </a>
                        <p id="token-result"></p>
                    </li>
                </ul>
            </div><!--social login button-->
        </div>

        <div class="form-container sign-in-container">
            <form role="form" th:action="@{/user/signUp}" th:object="${SignUpDto}" method="post">
                <h1>Sign Up</h1>
                <input type="text" placeholder="Name" th:field="*{name}" class="form-control"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <input type="text" placeholder="Student Id" th:field="*{studentId}" class="form-control"
                       th:class="${#fields.hasErrors('studentId')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></p>

                <input type="text" placeholder="Id" th:field="*{loginId}" class="form-control"
                       th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></p>

                <input type="password" placeholder="Password" th:field="*{password}" class="form-control"
                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                <input type="email" placeholder="Email" th:field="*{email}" class="form-control"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
                <div class="overlay-panel overlay-left">
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>