<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>update Pw</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS , jQuery-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.5.1.min.js}"> </script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/validationEmail.css}">
    <style>
        .fieldError {
            border-color: #bd2130;
        }
    </style>
</head>
<body>
<div class="containerCustom">
    <div class="bg-image"></div>
    <!--header-->
    <header>
        <a th:href="@{/}">
            <img th:src="@{/images/mainLogo4.png}" type="images" alt="">
        </a>
    </header>
    <!--header-->

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <h1>Password 변경</h1>
            <form role="form" th:action="@{/user/updatePassword}" th:object="${updatePasswordDto}" method="post">
                <input type="password" name="updatePassword" placeholder="password" class="form-control"
                       th:class="${#fields.hasErrors('updatePassword')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('updatePassword')}" th:errors="*{updatePassword}"></p>

                <input type="password" name="updatePasswordRe" placeholder="Re-enter password" class="form-control"
                       th:class="${#fields.hasErrors('updatePasswordRe')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('updatePasswordRe')}" th:errors="*{updatePasswordRe}"></p>

                <input type="hidden" name="email" th:value="${email}">
                <button class="btn btn-primary">submit</button>

                <div th:if="${notEquals}" class="form-group" style="margin-top: 50px">
                    <span>입력한 두 비밀번호가 같지 않음</span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
