<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer>
    <div th:fragment="footer">
        <div class="footerBox">
            <div class="box1">
                <span>CQRE</span>
            </div>
            <div class="box2">
                <div>
                    <p>(주) xxx 기업 대표 : 홍길동 서울특별시 광진구 xxx</p>
                    <p>
                        <span>
                            소비자상담실 000-000-0000
                        </span>
                        <span>
                            등록번호 111-111-1111
                        </span>
                        <span>
                            대표 번호 222-222-2222
                        </span>
                    </p>
                    <p>copyright 2021 CQRE. all rights reserved.</p>
                </div>
                <div>
                    <span>Facebook</span>
                    <span>Instagram</span>
                    <span>Youtube</span>
                    <span>Twitter</span>
                </div>
            </div>
        </div>
    </div>
</footer>
