<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="top">
        <a th:href="@{/}">
            <img th:src="@{/images/mainLogo4.png}" type="images" alt="">
        </a>
        <div class="menu">
            <ul>
                <li>
                    <a th:href="@{/history}">연혁</a>
                </li>
                <li>
                    <a th:href="@{/boards/notice-board}">공지사항</a>
                </li>
                <li>
                    <a th:href="@{/boards/free-board}">자유게시판</a>
                </li>
                <li>
                    <a th:href="@{/gallerys}">갤러리</a>
                </li>
                <li>
                    <a th:href="@{/items}">쇼핑몰</a>
                </li>
            </ul>
        </div>
        <div class="sign">
            <a th:href="@{/uses/sign}" sec:authorize="isAnonymous()">SignIn/SignUp</a>
            <form role="form" th:action="@{/users/logout}" method="post">
                <button sec:authorize="isAuthenticated()">Logout</button>
            </form>
            <a th:href="@{/users/user-info}" sec:authorize="isAuthenticated()">MyInfo</a>
        </div>
    </header>
</body>
</html>