<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="top">
        <a th:href="@{/}">
            <img th:src="@{/images/mainLogo4.png}" type="images" alt="">
        </a>
        <div class="menu">
            <ul>
                <li>
                    <a href="#">연혁</a>
                </li>
                <li>
                    <a href="#">공지사항</a>
                </li>
                <li>
                    <a href="#">자유게시판</a>
                </li>
                <li>
                    <a href="#">갤러리</a>
                </li>
                <li>
                    <a href="#">쇼핑몰</a>
                </li>
            </ul>
        </div>
        <div class="sign">
            <button class="btn btn-primary" ><a th:href="@{/signIn}">SignIn/SignUp</a></button>
            <button class="btn btn-primary"><a th:href="@{/userInfo}">MyInfo</a></button>
        </div>
    </header>
</body>
</html>