$pinkColor: #f3ade1;
$purpleColor: #a873f9;
$blueColor: #0070ff;
$blueLightColor: #4e9bff;
$grayTextColor: #777;

.visual{
  width: 100%;
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/userInfo.jpg") no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;

  img{
    width: 100%;
    height: 400px;
    display: inline-block;
    position: absolute;
  }
  h2 {
    position: relative;
    top: 45%;
    text-align: center;

    p:first-child{
      display: block;
      color: rgba(255,255,255,.7);
      font-size: 25px;
      letter-spacing: 0.5pt;
    }
    p:last-child{
      display: block;
      color: white;
      font-size: 55px;
      line-height: 100%;
      z-index: 10;
    }
  }
}/*visual*/

/*contents*/
.contents{
  width: 100%;
  height: 537px;

  .lnb{
    width: 70.7%;
    height: 70px;
    margin: 0 auto;
    top: -40px;
    box-shadow: rgba(0,0,0,.14) 3px 6px 12px;
    display: block;
    position: relative;
    background: white;

    ul{
      position: relative;
      overflow: hidden;
      text-align: center;
      margin: 0;
      padding: 0;

      li{
        float: left;
        list-style: none;
        width: 192px;
        height: 70px;

        a{
          width: 192px;
          height: 70px;
          display: block;
          text-decoration: none;
          font-size: 17px;
          letter-spacing: -0.4pt;
          line-height: 135%;
          border-right: 2px solid #eee;
          box-sizing: border-box;
          padding-top: 20px;
          color: #777;
          transition: 0.5s all;
        }
      }

      li:last-child > a{
        border-right: none;
      }
    }
  }/*lnb*/
}/*contents*/

/*lnb hover*/
.lnb > ul > li:nth-child(1) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(1) > a:after{
  background-color: white;
  color: $grayTextColor;
}
.lnb > ul > li:nth-child(2) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(2) > a:after{
  background-color: white;
  color: $grayTextColor;
}
.lnb > ul > li:nth-child(3) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(3) > a:after{
  background-color: white;
  color: $grayTextColor;
}
.lnb > ul > li:nth-child(4) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(4) > a:after{
  background-color: white;
  color: $grayTextColor;
}
.lnb > ul > li:nth-child(5) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(5) > a:after{
  background-color: white;
  color: $grayTextColor;
}
.lnb > ul > li:nth-child(6) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(6) > a:after{
  background-color: white;
  color: $grayTextColor;
}
.lnb > ul > li:nth-child(7) > a:hover{
  background-color: darkgray;
  color: white;
}
.lnb > ul > li:nth-child(7) > a:after{
  background-color: white;
  color: $grayTextColor;
}
/*hover*/

/*tableBox*/
#tableBox{
  visibility: hidden;
  text-align: center;
  margin-top: 5px;

  .searchBox{
    display: inline-block;
    padding-bottom: 5px;
    select{
      height: 37px;
    }
  }

  .table-dark {
    width: 60%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, .14) 3px 6px 12px;
    /*background: rgba(40, 57, 101, .8);*/
    border-bottom-color: 1 $pinkColor!important;
  }

  nav{
    padding-top: 15px;
  }
}

.slideDown{
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}/*tableBox*/
