$pinkColor: #f3ade1;
$purpleColor: #a873f9;
$blueColor: #0070ff;
$blueLightColor: #4e9bff;
$grayTextColor: #777;

.contents .lnb > ul > li:last-child > a{
  background-color: $blueLightColor!important;
  color: white!important;
}