.containerCustom > form{
  width: 50%;
  margin: 0 auto;

  button{
    margin-bottom: 100px;
  }

  .form-group:nth-child(2){
    width: 100%;
    textarea{
      width: 100%;
    }
  }
}

.boardTitle{
  text-align: center;
  width: 70%;
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
}